.tablelistuser_container {
  .tablelistUser_content_header {
    display: grid;
    margin-top: 20px;
    margin-bottom: 80px;
    grid-template-columns: repeat(2, 1fr);

    .__content_header_title {
      justify-self: flex-start;
      align-self: center;
      padding-left: 32px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

      h1 {
        font-weight: 900;
        font-size: 24px;
        margin: 0 0 10px 0;
        color: black;
      }
      span {
        font-weight: 600;
        font-size: 16px;
        color: lightgreen;
      }
    }
    .__content_header_button {
      justify-self: flex-end;
      align-self: center;
      padding-right: 32px;

      button {
        background-color: lightgreen;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: green;
        padding: 15px 35px;
        border-radius: 5px;
        font-size: 14px;
        border: none;
        cursor: pointer;

        i {
          padding-right: 5px;
        }
        &:hover {
          background-color: rgba($color: green, $alpha: 0.5);
        }
      }
    }
  }
  .__content_header_tablet {
    display: grid;
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
    border-radius: 5px;
    background-color: lightgreen;
    grid-template-rows: 2;
  }
  .__div__ {
    display: grid;
    align-items: center;
    align-self: center;
    justify-self: center;
    grid-template-rows: auto;
  }
}

.tablelistusuario_content_header_tablet {
  display: grid;
  grid-auto-flow: column;
}
.table {
  padding: 0 10%;
  margin: 40px auto 0;
  border-spacing: 0;
  border-radius: 20px;
 

  .table_title {
    border-radius: 40px;
    background-color: lightgreen;
    
    .table_tr {
      border: 0.5px solid black;
      font-size: 16px;
      font-weight: medium;
      border-radius: 10px;
      
      .table_th {
        font-size: 18px;
        font-weight: medium;
        opacity: 10px;
        padding: 5px;
        vertical-align: top;
        
      }
    }
  }
  .table_tbody {
    font-size: 16px;
    letter-spacing: 0.35px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border: 0.5px solid  black;
  }
}
