.table_container_users_views {
  display: grid;
}
.tablelistuser_container {
  .tablelistUser_content_header {
    display: grid;
    margin-top: 20px;
    margin-bottom: 80px;
    grid-template-columns: repeat(2, 1fr);

    .__content_header_title {
      justify-self: flex-start;
      align-self: center;
      padding-left: 32px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

      h1 {
        font-weight: 900;
        font-size: 24px;
        margin: 0 0 10px 0;
        color: black;
      }
      span {
        font-weight: 600;
        font-size: 16px;
        color: lightgreen;
      }
    }
    .__content_header_button {
      justify-self: flex-end;
      align-self: center;
      padding-right: 32px;

      button {
        background-color: lightgreen;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        color: green;
        padding: 15px 35px;
        border-radius: 5px;
        font-size: 14px;
        border: none;
        cursor: pointer;

        i {
          padding-right: 5px;
        }
        &:hover {
          background-color: rgba($color: green, $alpha: 0.5);
        }
      }
    }
  }
  .__content_header_tablet {
    display: grid;
    padding: 8px;
    border: 1px solid #0a0909;
    text-align: left;
    border-radius: 5px;
    background-color: lightgreen;
    grid-template-rows: 2;
  }
  .__div__ {
    display: grid;
    align-items: center;
    align-self: center;
    justify-self: center;
    grid-template-rows: auto;
  }
}

.tablelistusuario_content_header_tablet {
  display: grid;
  grid-auto-flow: column;
}
.table {
  padding: 0 16%;
  margin: 30px 0 0;
  border-spacing: 0;
  border-radius: 20px;

  .table_title {
    border-radius: 5px;
    background-color: rgba(31, 137, 229, 0.2);
    padding: 28px;
    font-weight: 700;

    .table_t {
      display: grid;
      grid-template-columns: 30% 24% 20% ;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 800;
      border-radius: 5px;
    }
  }
}

%extende_contentRoles_header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-columns: 20% 40% 10% ;
  padding: 0 16%;
  border-spacing: 0;
 justify-content: space-between;
 align-items: center
}

._tables_content_header {
  @extend %extende_contentRoles_header;
  background-color: rgba(226, 227, 229, 0.4);
  border-radius: 5px;
  height: 60px;
  justify-self: center;

  .container_avatar_roles{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 10px -12px 10px 20px;

    .__name_roles__{
      justify-self: center;
      align-self: center;
      margin: -80px -60px 10px 80px;
      color: rgb(92, 88, 96);
        font-weight: 600;
    }
  }
  .__state_role__ {
    margin: 0px 260px 45px 0px;
    color: rgb(38, 181, 93);
    font-weight: 700;
    justify-self: center;
    align-self: center;
  }
  .__divi__ {
    margin: 20px 10px 60px -150px;
  }
}

._tables_content_header_bg {
  @extend %extende_contentRoles_header;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  height: 60px;
  border-radius: 5px;
  justify-self: center;
}

._rol_busqueda__ {
  display: flex;
  justify-content: flex-start;
  padding-left: 300px;
  width: 250px;
  color: #666565; 
  ._rol_busqueda_input {
    border-radius: 5px;
    height: 30px;
    align-self: center;
    border-color: rgba($color: #666565, $alpha: 0.2);
  }

  ._rol_busqueda_button{
    margin: 5px -26px 0;
    align-items: center;
    justify-content: center;
    color: rgba($color: #1f1d1d, $alpha: 0.4); 
  }
}
