// principal colors 

$colorGreen: #5FD160;
$colorBlue: #56D0AB;
$colorCyan:#51E0DE;
$colorBlack: #000000;
$colorWhite:#F7F8FF;
$colorRed: #E3143F;
$colorViolet:#891ECF;

$borderRadiusPrimary : 25px ; 
$displayGrid: grid;
$displayFlex: flex;