.container_card_principal {
  background-color: #c181df;
  width: 100%;
  height: 100vh;

  .bloque {
    width: 97%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 1em;
  }

  .container_card {
    background-color: antiquewhite;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    img {
      display: grid;
      width: 6em;
      height: 7em;
      align-items: center;
      justify-content: center;
    }
  }
  .type_card {
    display: flex;
    gap: 10px;

    span {
      background-color: rgb(219, 211, 206);
      width: 100%;
    }
  }
}
