.container_principal {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgb(246, 248, 248);
    width: 100%;
    height: 100vh;

    .container_title {
        justify-content: center;
       display: flex;
       align-items: center;
       text-align: center;

    }
}