* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.grid-container > * {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: cadetblue;
}

.sidebar {
  grid-area: sidebar;
  background-color: darkorchid;
}

.footer {
  grid-area: footer;
  background-color: rgb(16, 21, 43);
  color: white;
}

.grid-container {
  display: grid;
  // gap: 10px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";
}
