* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  background: rgb(4, 2, 33);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.container_nabvar {
  display: grid;
  grid-column: 1/5;
}
.container {
  display: grid;
  grid-column: 1/5;
}
