.datatable_container {
  display: grid;
  

  .container_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    color: #1d1d1da0;

    h1 {
      color: rgb(7, 7, 7);
      margin-left: 10px;
    }
    
    span {
      font-weight: 600;
      font-size: 16;
      color: #929e9e;
    }
    .content_header_button {
      justify-self: flex-end;
      align-self: center;
      padding-right: 32px;

      .button_agreger {
        background:#5cb85c ;
        color: #fff;
        box-shadow: 4px 2px 4px 2px rgb(146, 158, 158, 40%);
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 14px;
        border: none;
        cursor: pointer;
      }
    }
  }
  .container_title_table {
    display: grid;
    margin: 0 5%;
    width: 92%;
    height: 70vh;
    border-radius: 2px;
    box-shadow: 4px 2px 4px 2px rgb(146, 158, 158, 40%);
  }
  %extend_content_table {
    display: grid;
    padding: 0px 10px;
    justify-self: center;
    grid-template-columns: 45% 25% 15% 10%;
  }

  .container_title_table {
    @extend %extend_content_table;
    background: #fff;
    margin-top: -1em;
    margin-left: 2em;
    padding: 8px;
    color: #000;
    display: grid;
    
    align-self: center;
    width: 70em;
    height: 2em;
    .name_rol_title{
      margin-left: 10em;
    }
    .state_rol{
      margin-left: 9.5em;

    }

    .container_estado {
      margin-top: 1em;
      margin-left: 5em;
      margin-bottom: 1em;
      border: 0.2px solid #5cb85c;
      width: 2.5em;
      justify-content: center;
      
      height: 1.0em;
      border-radius: 2px;
      color: #ffffff;
      background-color: #5cb85c;

      p{
        font-size: 12px;
        margin: 0px auto;
        
        display: flex;
        justify-self: center;
        justify-content: center;
      }
    }
    i {
      
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 20px;
    }
    
    .name_rol{
        font-weight: 600; 
    }
    
    .edit_container {
      margin-top: 15px;
      width: 1.5em;
      height: 1.5em;
      background: #075eaa;
      color: white;
      border-radius: 5px;
      .edit_icon{
        margin-top: 3px;
        width: 1em;
        height: 0.8em;
        display: flex;
        align-items: stretch;
        justify-items: center;
        
      }
    }

    .disable_container {
      margin-top: 15px;
      width: 1.5em;
      height: 1.5em;
      background: #fa4c46;
      color: white;
      border-radius: 5px;
      .disable_icon{
        margin-top: 3px;
        margin-left: 2px;
        width: 1em;
        height: 0.7em;
        display: flex;
        align-items: stretch;
        justify-items: center;
        
      }
    }

    .container_table_body {
      @extend %extend_content_table;
      display: grid;
      border: 2px;
      background: rgba(71, 67, 67, 0.1);
      color: black;
      height: 2.5em;
      padding-bottom: 10px;
      width: 70em;
      margin-top: 2em;
      margin-bottom: -1.5em;
      margin-left: -0.7em;
      grid-template-columns: 55% 30% 5% 5%;
      box-shadow: .5px .2px .5px .2px rgb(146, 158, 158, 40%);
      justify-self: center;
    }
    .container_avatar_rol{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5px;
        margin-left: 10px;
        text-align: center;
        font-weight: bold;
        .name_rol{
            font-weight: 500;
            margin-top: 10px;
            margin-left: -10em;
        }
       
    }
    .avatar_color1{
        color: rgb(224, 8, 8);
        border: solid 2px rgb(224, 8, 8) ;
        background-color: rgb(255, 255, 255);
    }
    .avatar_color2{
        color: rgb(6, 218, 6);
        background-color: rgb(252, 252, 252);
        border: solid 2px rgb(6, 218, 6);
    }
    .avatar_color3{
        color: rgb(233, 117, 16);
        background-color: rgb(252, 252, 252);
        border: solid 2px rgb(233, 117, 16);
    }
    .avatar_color4{ 
      color:$color_onoff_75  ;  
      background-color: rgb(255, 255, 255,);
        border: solid 2px $color_onoff_75
    }
  }
}
