.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 20px;
}

.container_content {
  padding: 10px 0px;
  border-radius: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;

  justify-content: center;
  background: #176585;
  align-items: center;

  .name_person {
    align-items: center;
    width: auto;
    display: grid;
    color: rgb(255, 255, 255);
    background-color: #27b1bf;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: bold;
  }
  .name_person:hover {
    width: 150px;
    font-weight: bold;
    background-color: #10aaa8;
  }
}

.image {
  align-items: center;
  display: flex;
  border-radius: 30px;
  width: 90%;
  height: 50%;
  margin-bottom: 5px;
}
.container_span {
  padding: 4px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  background-color: #27b1bf;
  border-radius: 15px;
  font-weight: 400;
  width: 150px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.container_span:hover {
  color: #2bc72b;
  outline: 0px;
}
