.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 15px;
  margin-left: 2px;
}

.container_content {
  padding: 10px 0px;
  border-radius: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  background: #5c3396;
  align-items: center;

  .name_person {
    align-items: center;
    width: auto;
    display: grid;
    color: rgb(18, 17, 17);
    background-color: #aed2ff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: bold;
  }
  .name_person:hover {
    width: 150px;
    font-weight: bold;
    background-color: #aed2ff;
  }
}

.image {
  align-items: center;
  display: flex;
  border-radius: 30px;
  width: 90%;
  height: 50%;
  margin-bottom: 5px;
}
.container_span {
  padding: 4px;
  margin-top: 5px;
  color: rgb(19, 19, 19);
  background-color: #aed2ff;
  border-radius: 15px;
  font-weight: 500;
  width: 150px;
  height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-self: center;
  align-self: center;
}

.container_span:hover {
  font-size: 16px;
}

@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
  }
  .container_content {
    padding: 10px 0px;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    text-align: center;
    justify-content: center;
    background: #5c3396;
    align-items: center;

    .name_person {
      text-overflow: clip;
      align-items: center;
      width: 120px;
      display: grid;
      color: rgb(10, 10, 10);
      background-color: #aed2ff;
      padding: 2px;
      font-size: 10px;
      margin-bottom: 5px;
      border-radius: 30px;
      font-weight: bold;
    }
    .name_person:hover {
      text-overflow: clip;
      width: 115px;
      font-size: 10px;
      font-weight: bold;
      background-color: #9400ff;
    }
  }
  .image {
    align-items: center;
    display: flex;
    border-radius: 30px;
    width: 60%;
    height: 30%;
    padding: 5px;
  }
  .container_span {
    padding: 1.5px;
    margin-top: 8px;
    color: rgb(0, 0, 0);
    background-color: #aed2ff;
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
    width: 120px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: center;
    align-self: center;
  }

  .container_span:hover {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
  }
  .container_content {
    padding: 10px 0px;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    text-align: center;
    justify-content: center;
    background: white;
    align-items: center;

    .name_person {
      text-overflow: clip;
      align-items: center;
      width: 120px;
      display: grid;
      color: rgb(10, 10, 10);
      background-color: #aed2ff;
      padding: 2px;
      font-size: 9px;
      margin-bottom: 5px;
      border-radius: 30px;
      font-weight: bold;
    }
    .name_person:hover {
      text-overflow: clip;
      width: 115px;
      font-size: 10px;
      font-weight: bold;
      background-color: #9400ff;
    }
  }
  .image {
    align-items: center;
    display: flex;
    border-radius: 30px;
    width: 60%;
    height: 30%;
    padding: 5px;
  }
  .container_span {
    padding: 1.5px;
    margin-top: 8px;
    color: rgb(0, 0, 0);
    background-color: #aed2ff;
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
    width: 120px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: center;
    align-self: center;
  }

  .container_span:hover {
    font-size: 14px;
  }
}
