.principal_container {
  display: flex;
  flex-direction: column;
  background: rgb(139, 2, 238);
  background: linear-gradient(311deg, rgba(148, 0, 255, 1) 19%, rgba(39, 0, 93, 1) 39%);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.end_firma {
  padding: 10px 10px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  color: black;
}
